.otp {
  background-color: #f8fafc;
  color: #1e293b;
  min-height: 100vh;
  font-size: 1rem;
  font-family: 'Inter';
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    width: 100%;
    padding: 15px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    &--left {
      display: flex;
      align-items: center;
      gap: 10px;
      div {
        background-color: #3b82f6;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      span {
        font-weight: 900;
        font-size: 1.25rem;
        color: #1e293b;
      }
    }
  }

  &__form {
    width: 480px;
    margin-top: 80px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border: 1px solid #e2e8f0;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    &-symbol {
      width: 64px;
      height: 64px;
      background-color: #eff6ff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 999px;
    }
    &-title {
      font-weight: 800;
      font-size: 1.875rem;
      color: #0f172a;
    }
    &-question {
      color: #64748b;
      font-size: 0.875rem;
    }
    &-timer {
      font-size: 0.875rem;
      color: #475569;
      font-weight: 800;
    }
    p {
      color: #64748b;
      text-align: center;
    }
    input[type='text'],
    input[type='password'] {
      width: 100%;
      background-color: #ffffff;
      border: 1px solid #d1d5db;
      border-radius: 4px;
      padding: 16px;
      padding-right: 50px;
      padding-left: 50px;
      color: #1e293b;
    }
    input:focus {
      outline: none;
      border-color: #3b82f6;
      box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
    }
    button {
      width: 100%;
    }
  }
}