$font-main: 'Manrope', sans-serif;
$font-heading: 'Newsreader', serif;

@mixin line-clamp($lines: 3) {
  display: -webkit-box; // trigger old box model
  -webkit-line-clamp: $lines; // the number of line
  -webkit-box-orient: vertical; // direction
  overflow: hidden;
  text-overflow: ellipsis; // elips -> ...
}

@mixin text-style($size: 1rem, $weight: 400, $lh: 1.5, $family: $font-main, $style: normal) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  line-height: $lh;
  @if $style != normal {
    font-style: $style;
  }
}
