$font-main: 'Manrope', sans-serif;
$font-heading: 'Newsreader', serif;

@mixin line-clamp($lines: 3) {
  display: -webkit-box; // trigger old box model
  -webkit-line-clamp: $lines; // the number of line
  -webkit-box-orient: vertical; // direction
  overflow: hidden;
  text-overflow: ellipsis; // elips -> ...
}

@mixin text-style($size: null, $weight: null, $lh: null, $family: $font-main, $style: null) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lh;
  font-style: $style;

  @if $family != $font-main {
    font-family: $family, sans-serif;
  }
}
