.layout-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25.75px 96px;
    background-color: #fef8f7;
    .header__left {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
      .wrapper {
        background-color: #3b82f6;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      h1 {
        font-weight: 700;
        font-size: 1.5rem;
      }
    }
    ul {
      display: flex;
      justify-content: space-between;
      gap: 50px;
      li {
        color: #1d1b1b;
        font-size: 0.875rem;
        &:hover {
          cursor: pointer;
          color: #d95d39;
        }
      }
    }
    .header__right {
      display: flex;
      gap: 24px;
      align-items: center;
    }
  }

  footer {
    background-color: #fff;
    color: #1d1b1b;
    margin-top: auto;
    padding: 80px 96px;
    display: flex;
    justify-content: space-between;
    .logo {
      h1 {
        font-family: 'Newsreader', sans-serif;
        font-style: italic;
        font-size: 1.25rem;
        color: #1d1b1b;
        margin-bottom: 33px;
      }
      p {
        max-width: 292.86px;
        font-size: 0.75rem;
        color: #1d1b1b;
        opacity: 60%;
        line-height: 19.5px;
      }
    }
    .connections ul {
      font-family: 'Manrope', sans-serif;
      display: flex;
      flex-direction: column;
      gap: 16px;
      color: #1d1b1b;
      opacity: 60%;
      .title {
        font-size: 0.875rem;
        font-weight: 700;
        color: #1d1b1b;
        margin-bottom: 8px;
      }
    }
    .support ul {
      display: flex;
      flex-direction: column;
      font-family: 'Manrope';
      font-size: 1rem;
      color: #1d1b1b;
      opacity: 40%;
      li:first-child {
        font-size: 0.875rem;
        font-weight: 700;
        margin-bottom: 23.75px;
      }
      li:nth-child(2) {
        margin-bottom: 16px;
      }
      li:nth-child(3) {
        margin-bottom: 32px;
      }
    }
  }
}
