.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #101722;
  font-family: 'Inter';
  font-size: 1rem;
  color: #f1f5f9;
  padding: 30px;
  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    &--left ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
    &--right {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
  &__footer {
    margin-top: auto;
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 10px;
      li {
        color: #94a3b8;
        font-size: 0.875rem;
        display: flex;
        flex-direction: column;
        gap: 26.5px;
        img {
          width: 16px;
          height: 16px;
        }
        span.title {
          color: #f1f5f9;
          font-weight: 800;
        }
        .logo {
          display: flex;
          gap: 10px;
          span {
            color: #f1f5f9;
            font-weight: 800;
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}
