@use '../styles/mixins';

$transition-smooth: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
$zoom-speed: transform 0.7s ease-out;

.hero-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding: 48px 96px 192px;
  background-color: #fef8f7;
  .left-media {
    .title {
      @include mixins.text-style(1.25rem);
      color: #58423c;
      margin-bottom: 24px;
      margin-top: 38.5px;
    }
    h1 {
      @include mixins.text-style(6rem, 400, 96px, mixins.$font-heading, italic);
      max-width: 648.1px;
      letter-spacing: -2.4px;
      span {
        color: #a43716;
        @include mixins.text-style(6rem, 400, 96px, mixins.$font-heading, italic);
      }
    }
    p {
      max-width: 570.08px;
      @include mixins.text-style(1.25rem, 400, 32.5px);
      color: #58423c;
      margin-bottom: 51.5px;
    }
    .btn-discover {
      color: #fff;
      @include mixins.text-style(0.875rem, 700);
      background-color: #c54f2c;
      width: 265.63px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      &:hover {
        cursor: pointer;
        opacity: 80%;
      }
    }
  }
  .right-media {
    position: relative;
    height: 100%;
    .img-wrapper {
      display: flex;
      justify-content: flex-end;
    }
    .brown-box {
      position: absolute;
      top: 512px;
      left: 144px;
      width: 192px;
      height: 192px;
      background-color: #a0691b;
      padding: 70px 24px 26px;
      box-sizing: border-box;
      span {
        @include mixins.text-style(1rem, 400, 1.5, mixins.$font-heading, italic);
        color: #fffbff;
      }
    }
  }
}

.curated-selection {
  padding: 128px 96px;
  background-color: #f8f2f2;
  @include mixins.text-style();
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div:first-child {
      @include mixins.text-style(3rem, 400, 1.5, mixins.$font-heading, italic);
      color: #1d1b1b;
    }
    div:last-child {
      cursor: pointer;
      color: #a43716;
      padding-bottom: 5px;
      border-bottom: 2px solid #a43716;
    }
    margin-bottom: 80px;
  }
  .books {
    display: flex;
    justify-content: space-between;
    .book {
      cursor: pointer;
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
      .thumbnail-wrapper {
        aspect-ratio: 2 / 3;
        overflow: hidden;
        background-color: #f9f9f9;
        margin-bottom: 1.5rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        transition: $transition-smooth;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: $zoom-speed;
          will-change: transform;
        }
      }
      &__category {
        @include mixins.text-style(0.75rem);
        color: #58423c;
        margin-bottom: 8px;
        text-transform: uppercase;
      }
      &__title {
        @include mixins.text-style(1.25rem, 400, 1.5, mixins.$font-heading);
        margin-bottom: 4px;
      }
      &__author {
        @include mixins.text-style(0.875rem);
        color: #58423c;
        margin-bottom: 20px;
      }
      &__price {
        @include mixins.text-style(1rem, 700);
        color: #a43716;
      }
    }
  }
}

.category {
  background-color: #fef8f7;
  padding: 192px 96px;
  @include mixins.text-style(1rem, 400, 1.5, mixins.$font-heading);

  &__title {
    text-align: center;
    @include mixins.text-style(3rem, 400, 1.5, mixins.$font-heading, italic);
    margin-bottom: 80px;
  }

  &__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 334px);
    gap: 32px;
  }

  &__main {
    position: relative;
    grid-row: span 2;
    background-image: url('../assets/lib.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &-content {
      position: relative;
      z-index: 1;
      padding-left: 48px;
      padding-bottom: 49px;
    }

    &-number {
      @include mixins.text-style(2.25rem, 700);
      color: #a43716;
      margin-bottom: 8px;
    }

    &-title {
      @include mixins.text-style(2.25rem, 400, 1.5, mixins.$font-heading, italic);
      margin-bottom: 17px;
    }

    &-desc {
      @include mixins.text-style(1rem);
      max-width: 310px;
      color: #58423c;
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(to top, rgba(255, 255, 255, 0.9), transparent 70%);
    }
  }

  &__side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    h3 {
      @include mixins.text-style(1.5rem, 400, 1.5, mixins.$font-heading, italic);
    }

    span {
      @include mixins.text-style(0.75rem);
      text-transform: uppercase;
    }

    &--top {
      background-color: rgba(196, 231, 226, 20%);
    }

    &--bottom {
      background-color: rgba(160, 105, 27, 10%);
    }
  }
}

.culator {
  background: #fef8f7;
  padding: 0px 272px 12rem;

  &__container {
    background: rgba(160, 105, 27, 0.1);
    padding: 80px 83px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 41px;
    color: black;
    @include mixins.text-style(0.75rem, 900, 133%);
    letter-spacing: 4.8px;
    text-transform: uppercase;
  }

  &__note {
    color: #1d1b1b;
    @include mixins.text-style(1.875rem, 400, 162.5%, mixins.$font-heading, italic);
    margin-bottom: 3.11rem;
    text-align: center;
    max-width: 46rem;
    @include mixins.line-clamp(3);
  }

  &__author {
    color: #1d1b1b;
    @include mixins.text-style(0.875rem, 400, 1.25rem);
    letter-spacing: 0.0875rem;
    text-transform: uppercase;
  }
}

.newsletter {
  padding: 12rem 6rem;
  background-color: #fef8f7;
  &__container {
    background-color: #1d1b1b;
    padding: 6rem;
    display: flex;
    gap: 7.6rem;
    justify-content: space-between;
  }

  &__title {
    h3 {
      color: #fef8f7;
      @include mixins.text-style($family: Newsreader, $size: 3rem, $style: italic, $lh: 3rem);
      margin-bottom: 1.6rem;
    }
    p {
      color: rgba(254, 248, 247, 0.7);
      @include mixins.text-style($size: 1.125rem, $lh: 1.75rem);
      @include mixins.line-clamp(2);
      max-width: 27rem;
    }
  }

  &__email {
    input[type='text'] {
      width: 100%;
      height: 1.7rem;
      background-color: #1d1b1b;
      border: none;
      color: #fff;
      font-size: 1.25rem;
      padding: 1rem 0.75rem 2rem 0.75rem;
      border-bottom: 1px solid rgba(254, 248, 247, 0.3);
      margin-bottom: 2rem;
    }
    input:focus {
      outline: none;
    }
    span {
      color: rgba(254, 248, 247, 0.4);
      @include mixins.text-style($size: 0.625rem, $lh: 150%);
      letter-spacing: 0.0625rem;
      text-transform: uppercase;
    }
  }
}
