@use '../../styles/mixins';

.profile {
  display: grid;
  grid-template-columns: 18rem 1fr;

  &__sidebar {
    height: 100vh;
    border-right: 1px solid rgba(231, 229, 228, 0.3);
    background: #fef8f7;
    padding: 2rem 1.5rem 0rem;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
  }

  &__brand {
    margin-bottom: 3rem;
  }

  &__title {
    @include mixins.text-style($family: 'Inter', $size: 1.4875rem, $style: italic, $lh: 2rem);
  }

  &__subtitle {
    @include mixins.text-style($size: 0.625rem, $lh: 150%);
    color: #58423c;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
  }

  &__content {
    background: rgba(248, 242, 242, 0.3);
  }

  &__nav-list {
    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0.6rem 4.8rem 0.6rem 1rem;
      border-radius: 0.25rem;
      img {
        width: 1.5rem;
        height: 1.75rem;
        flex-shrink: 0;
        color: #78716c;
      }
      span {
        color: #78716c;
        @include mixins.text-style($size: 0.875rem, $weight: 500, $lh: 143%);
      }
    }
    li:not(li:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  &__logout {
    cursor: pointer;
    margin-top: auto;
    display: flex;
    padding: 0.6rem 8.5rem 0.6rem 1rem;
    align-items: center;
    gap: 1rem;
    border-radius: 0.25rem;
    img {
      flex-shrink: 0;
      width: 1.5rem;
      height: 1.75rem;
    }
    span {
      color: #78716c;
      font-family: Manrope;
      @include mixins.text-style($size: 0.875rem, $lh: 1.25rem);
    }
  }

  // right area
  &__content {
  }

  &__header {
    background: rgba(254, 248, 247, 0.8);
    backdrop-filter: blur(6px);
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
  }

  &__page-title {
    color: #1d1b1b;
    @include mixins.text-style($size: 1.875rem, $family: Newsreader, $style: italic, $lh: 2.25rem);
  }

  &__actions {
    color: #58423c;
    display: flex;
    gap: 1.5rem;
  }
}
